/* Nav Bar  */

#nav-bar {
  display: flex;
  position: fixed;
  top: 0;
  height: 12%;
  width: 100%;
  background-color: #bb8103de;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  color: #FFFFFF; 
  justify-content: space-between;
  padding: 1.5em;
}

#composeButton {
  display: flex;
  flex-direction: column;
}

#arrows {
  align-self: center
}

nav span {
  font-family: Bungee;
}

#composeButton > span {
  font-size: .7em;
}

i {
  color: red;
}

/* Responsive Design */

@media only screen and (min-width: 768px) {
  #nav-bar {
    background-image: none;
    background-color: #074885 ;
  }
}