.new-tweet {
  margin: 2em;
  border-radius: 4px;
  padding: 0px 8px 40px 8px;
  background-color: #f4f1ec;
}

/* CSS to style the title */

.new-tweet > h2 {
border-bottom: 2px solid;
margin-top: 15px;
}

/* CSS to style the form */

.new-tweet > form {
display: block;
}

form > input {
float: left;
margin-top: 3px;
}

textarea {
width: 100%;
height: 90px;
padding: 5px;
border: none;
background-color: #f4f1ec;
}

.counter {
float: right;
font-family: Bungee;
}

button {
  background-color: #4056A1;
  color: #FFFFFF;
  font-family: Bungee;
  border: 0;
}

/* Turn font red when counter is negative */

.fontRed {
  color: red;
}

/* Error message styling */

.error-message-off {
  font-family: FontAwesome;
  padding: 3px;
  display: flex;
  height: 30px;
  background-color: #fee;
  border: 2px solid red;
  color: #c33;
  margin-top: 1px;
  margin-bottom: 3px;
  font-size: .7em;
  justify-content: center;
  display: none;
}




